@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  body{
    background-image: url(../images/wallpaper.jpg);
    /* background-size: auto; */
    /* background-repeat: repeat; */
  }

  .Cont-card{
    display: flex;
    align-items: center;
    margin: 5% 0;
  }

.title-card{
  /* bottom: 0.8em; */
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: 2em;
  color: #08BAE3 !important;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow:0px 0px 10px rgb(255, 217, 0);
  border: #62a4ab 5px solid;
  /* padding: 1.5%; */
  background-color: rgb(255, 225, 186);
  margin: 0;
  width: 100%;
  padding: 3% 0;
  text-decoration: none;
  /* flex-basis: content; */
}

.title-card a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

.Card{
    background-image: url(../images/bacground-portal);
    /* background-color: rgba(13, 255, 0, 0.668); */
    border: black 10px solid;
    border-radius: 1.5em;
    padding: 1% 1%;
    padding-top: 0.3%;
    margin: 10px;
    width: 250px;
    position: relative;
    box-sizing: content-box;
}

.img{
    border: #62a4ab 5px solid;
    border-top: none;
    border-bottom: none;
    margin:0;
    width: 100%;
    
}

.element-card{
    margin: 0;
    border: #62a4ab 5px solid;
    background-color: rgb(255, 225, 186);
    word-break: break-all;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px 10px 10px black;
}
.specie{
    border-bottom: none;
}

h2{
   margin:0;
   /* background-color: red; */
   font-size: medium;
   text-align: center;
} 
.sub-card{
    /* height: 100%; */
    /* flex-basis: content; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
}
.top-card{
    /* background-color: blue; */
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.close{
    background-color: red;
    color: white;
    cursor: pointer;
    width: 4em;
;}